@use "../utils/variables";
@use "../utils/mixins";

.section-cards {
    background-color: aqua;
    // background-color: variables.$base-grey;
    padding: 20px;
    & .container-menu {
        display: flex;
        flex-wrap: wrap;
        // display: grid;
        // grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }    
}

.card {
    border-radius: 15px;
    height: 270px;
    width: 45%;
    min-width: 280px;
    flex-grow: 1;
    background-color: white;
    &__img {
        border-radius: 15px 15px 0px 0px;        
        height: 195px;
        width: 100%;
        background-size: cover;    
    }
    @for $i from 1 through 4 {
        &__img-#{$i} {
            background-image: url("../../public/img/menu#{$i}.jpg");
        }
    }

    &__link {
        height: 100%;
    }

    &__body {
        position: relative;
        // display: flex;
        // flex-direction: column;
        // justify-content: space-between;
        // margin: 10px;
        & h3, p {
            margin: 10px;
        }
        & i {
            font-size: 25px;
            position: absolute;
            top: 50%;
            right: 20px;
            transform: translateY(-50%);
        }
    }
}

.new{
    position: relative;
    
    &::before {
        content: "Nouveau";
        position: absolute;
        top: 10px;
        right: 10px;
        height: 30px;
        width: 80px;
        @include mixins.center;
        border-radius: 3px;
        background-color: variables.$green-blue;
        color: darken($color: variables.$green-blue, $amount: 40%);
    }

}


// modifier imbrication et nesting 