@use "../utils/variables";
@use "../utils/mixins";

.section-cards {
    background-color: variables.$base-grey;
    padding: 20px;
    & h2 {
        margin-bottom: 20px;
    }
    & .container-menu {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }    
}
.card {
    &:hover {
        @include mixins.zoom;
    }
    border-radius: 15px;
    height: 270px;
    width: 45%;
    min-width: 280px;
    flex-grow: 1;
    background-color: white;
    @include mixins.shadow(black);
    &__img {
        border-radius: 15px 15px 0px 0px;        
        height: 195px;
        width: 100%;
        background-size: cover;    
    }
    @for $i from 1 through 4 {
        &__img-#{$i} {
            background-image: url("../../public/img/menu#{$i}.jpg");
        }
    }

    &__link {
        height: 100%;
    }
    &__body {
        position: relative;
        & h3, p {
            margin: 10px;
        }        
    }
}
