@use "../utils/variables";

.section-heading {
    text-align: center;
    background-image: linear-gradient(white, variables.$grey);
    & > aside {
        display: flex;
        justify-content: center;
        align-items: center;        
        height: 60px;
        background-color: variables.$grey;

        & > input {
            padding-left: 10px;
            border: none;
            background-color: transparent;
            font-weight: bold;
            font-size: 20px;
            text-align: center;
            width: 180px;
        }
    }

    & > h2 {
        margin: 20px;
    }
}
