header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 80px;
    box-shadow: 0 0 0.5rem grey;
    h1 {
    font-family: "shrikhand" ,"Roboto", cursive;
 }
}



