@use "../utils/variables";
@use "../utils/mixins";

.section-heading {
    text-align: center;
    background-image: linear-gradient(white, variables.$light-grey);
    & > aside {
        display: flex;
        justify-content: center;
        align-items: center;
        
        height: 60px;
        background-color: variables.$grey;

        & > h3 {
            padding-left: 10px;
        }
    }

    & > h2 {
        margin: 20px;
    }
}
