@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

button {
  margin: 20px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 500;
  border: none;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  box-shadow: 2px 1px 16px -3px grey;
  background-image: linear-gradient(#FF79DA, #9356DC);
  transition: all 200ms;
}
button:hover {
  transform: scale(1.02);
  box-shadow: 2px 1px 16px -3px black;
  opacity: 0.9;
}

.section-explains {
  padding: 30px 0px;
  counter-reset: steps;
}
.section-explains h2 {
  margin-left: 15px;
}
.section-explains ul {
  display: flex;
  justify-content: space-around;
  margin: 15px 5px;
}
@media (max-width: 830px) {
  .section-explains ul {
    flex-direction: column;
    gap: 20px;
    max-width: 500px;
  }
}
.section-explains ul li {
  position: relative;
  border-radius: 18px;
  background-color: #F6F6F6;
  padding: 15px 20px;
  margin: 0px 10px 0px 20px;
  box-shadow: 2px 1px 16px -3px grey;
}
.section-explains ul li::before {
  content: counter(steps);
  counter-increment: steps;
  color: white;
  background-color: #9356DC;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  position: absolute;
  left: -15px;
  top: 10px;
}
.section-explains ul li:hover {
  transform: scale(1.02);
}
.section-explains ul li i.fas {
  margin-right: 10px;
  color: #7e7e7e;
  font-size: 16px;
}

.new {
  position: relative;
}
.new::before {
  content: "Nouveau";
  position: absolute;
  top: 10px;
  right: 10px;
  height: 30px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.7294117647);
  border-radius: 3px;
  background-color: #99E2D0;
  color: #278870;
}

.card__body i {
  font-size: 25px;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
.card__body .fas {
  opacity: 0;
  transition: all 200ms;
}
.card__body .fas:hover {
  opacity: 1;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(#FF79DA, #9356DC);
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 80px;
  box-shadow: 0 0 0.5rem grey;
}
header h1 {
  font-family: "shrikhand", "Roboto", cursive;
}

.section-heading {
  text-align: center;
  background-image: linear-gradient(white, #fafafa);
}
.section-heading > aside {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: #F3F3F3;
}
.section-heading > aside > h3 {
  padding-left: 10px;
}
.section-heading > h2 {
  margin: 20px;
}

.section-cards {
  background-color: #F6F6F6;
  padding: 20px;
}
.section-cards h2 {
  margin-bottom: 20px;
}
.section-cards .container-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  border-radius: 15px;
  height: 270px;
  width: 45%;
  min-width: 280px;
  flex-grow: 1;
  background-color: white;
  box-shadow: 2px 1px 16px -3px black;
}
.card__img {
  border-radius: 15px 15px 0px 0px;
  height: 195px;
  width: 100%;
  background-size: cover;
}
.card__img-1 {
  background-image: url("../../public/img/menu1.jpg");
}
.card__img-2 {
  background-image: url("../../public/img/menu2.jpg");
}
.card__img-3 {
  background-image: url("../../public/img/menu3.jpg");
}
.card__img-4 {
  background-image: url("../../public/img/menu4.jpg");
}
.card__link {
  height: 100%;
}
.card__body {
  position: relative;
}
.card__body h3, .card__body p {
  margin: 10px;
}

footer {
  background-color: #353535;
  color: white;
  padding: 20px;
}
footer > h3 {
  font-family: "shrikhand", "Roboto", cursive;
  margin-bottom: 10px;
}
footer ul li {
  margin: 5px;
}
footer ul li:hover {
  font-weight: bold;
}
footer ul i {
  width: 30px;
}

/*# sourceMappingURL=style.css.map */
