@use "../utils/variables";
@use "../utils/mixins";


button {
    margin: 30px;
    padding: 15px 20px;
    font-size: 18px;
    font-weight: 500;
    border: none;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    @include mixins.shadow(grey);
    @include mixins.gradient;
    transition: all 200ms;

    &:hover {
        @include mixins.zoom;
        opacity: 0.7;
        box-shadow: 8px 9px 11px -3px rgb(78, 75, 75);
    }
}

.btn-footer {
    display: flex;
    justify-content: center;
    background-color: variables.$base-grey;
    padding-bottom: 35px;
    z-index: 1;
    position: relative;
    .btn-pages {
    width: 200px;
    }
}

