 @import "../utils/variables";

 button {
    margin: 20px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 500;
    border: none;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    box-shadow: 2px 1px 16px -3px grey;
    background-image: linear-gradient($pink, $purple);
    transition: all 200ms;

    &:hover {
        transform: scale(1.02);
        opacity: 0.9;
    }
}