@use "../utils/variables";
@use "../utils/mixins";


button {
    margin: 20px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 500;
    border: none;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    @include mixins.shadow(grey);
    @include mixins.gradient;
    transition: all 200ms;

    &:hover {
        @include mixins.zoom;
        @include mixins.shadow(black);
        opacity: 0.7;
    }
}

.btn-footer {
    display: flex;
    justify-content: center;
    background-color: variables.$base-grey;
    padding-bottom: 20px;
    .btn-pages {
    width: 200px;
    }
}

