@use "../utils/variables";
@use "../utils/mixins";

.section-explains {
    padding: 30px 0px;
    counter-reset: steps;
    & h2 {
        margin-left: 15px;
    }
    & ul {
        display: flex;
        justify-content: space-around;
        margin: 15px 5px;
        @media (max-width: 830px) {
            flex-direction: column;
            gap: 20px;
            // max-width: 500px;
        }

        & li {
            &::before {
                content: counter(steps);
                counter-increment: steps;
                color: white;
                background-color: variables.$primary;
                width: 25px;
                height: 25px;
                border-radius: 50%;
                
                display: grid;
                place-items: center;
                position: absolute;
                left: -15px;
                top: 23px;
                
            }
            cursor: pointer;
            position: relative;
            border-radius: 20px;
            background-color: variables.$base-grey;
            padding: 15px 20px;
            margin: 0px 10px 0px 20px;
            box-shadow: 3px 4px 8px -3px grey;
            display: flex;
            align-items: center;
            height: 70px;
            white-space: nowrap;
            &:hover {
                @include mixins.zoom;
                background-color: #9356DC1F;
            }
            & i.fas {
                margin-right: 20px;
                color: variables.$icons-grey;
                font-size: 16px;
            }
        }

    }

}