@use "../utils/variables";
@use "../utils/mixins";

.section-explains {
    counter-reset: steps;
    & h2 {
        margin-left: 15px;
    }
    & ul {
        display: flex;
        justify-content: space-around;
        margin: 15px 5px;
        @media (max-width: 830px) {
            flex-direction: column;
            gap: 20px;
            max-width: 500px;
        }

        & li {
            &::before {
                content: counter(steps);
                counter-increment: steps;
                color: white;
                background-color: variables.$purple;
                width: 25px;
                height: 25px;
                border-radius: 50%;
                
                display: grid;
                place-items: center;
                position: absolute;
                left: -15px;
                top: 10px;
                
            }
            position: relative;
            list-style-type: none;
            // border: 2px red solid;
            border-radius: 18px;
            background-color: variables.$base-grey;
            padding: 15px 20px;
            margin: 0px 10px 0px 20px;
            @include mixins.shadow(grey);
            &:hover {
                @include mixins.zoom;
            }
            & i.fas {
                margin-right: 10px;
                color: variables.$icons-grey;
                font-size: 16px;
            }
        }

    }

}