@use "../utils/variables";
@use "../utils/mixins";

.choice {
    background-color: white;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px; 
    height: 75px;
    @include mixins.shadow(grey); 
    overflow: hidden;           

    &__description {
        margin: 8px 5px 8px 10px;;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-grow: 1;
        overflow: hidden;
        text-overflow: ellipsis;

        & > h4 {
            padding-bottom: 6px;
            font-size: 15px;                    
        }
        & > p {
            font-size: 14px;
        }
        & h4, p {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;                
        }
    }

    &__tarifs {
        display: flex;
        align-items: flex-end;
        margin: 10px 10px 15px 0px;
        font-weight: bold;                
    }
}