@use "./variables";

@mixin shadow ($colour){
    box-shadow: 2px 1px 16px -3px $colour;
}

@mixin zoom {
    transform: scale(1.02);    
}

@mixin style-title {
    margin: 15px;
    background-color: white;
    border-radius: 20px 20px 0px 0px;
}

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin gradient {
    background-image: linear-gradient(variables.$pink, variables.$purple);
}

//@include nom-de-mixin; //*//*